@tailwind base;
@tailwind components;
@tailwind utilities;

* {
   /* border: 1px solid grey */
}

.timer {
   display: grid;
   gap: .6rem;
   font-size: 1.8rem;
}

@media screen and (min-width: 720px) {
   .timer {
      font-size: 2.5rem;
   }

}